
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {

     background-image: url(https://i.pinimg.com/originals/6b/d2/3c/6bd23cd2be2898eca93129c0af5e7738.jpg);  



    
background-size: contain;
    /* background-size:;   
} */

}

/* .DonutMaker{ */
    .DonutMaker{
    display:grid;
    grid-template-rows: 1fr 3fr;
    height: 100%;
    
}
.container{
    background-color: rgb(235, 104, 191);
    max-width: 1000px;
    width: 80%;
    min-width: 600px;
    margin: 0px auto;
    padding: 10px;
    height: 100vh;
     background-image: url(https://i.pinimg.com/originals/96/7d/aa/967daaafd66b00270e86ff3e966e3f30.jpg); 
}
.Clicker{
    font-family: 'Turret Road', cursive;
    display:grid;
    grid-template-columns: 2fr 1fr;
}


.purchaseAutoClickers{
    margin: auto;
}
.Clicker{
    color:black;
}

.DonutMultiplier{
    color:black;
}

.hidden{
    display: none;
}

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 